<% form_for(@location) do |f| %>
  <%= f.error_messages %>
  <h2>Add a Sign</h2>
  
  <fieldset class="address">
    <%= f.label :street, "Address"%>
    <%= f.text_field :street, :title => 'Address, City State or Zip' %>
  </fieldset>

  <fieldset class="sign">
    <ul>
      <% Location::SIGN_OPTIONS.sort_by {|k,_| k }.each do |sign,description| %>
        <li>
          <%= f.radio_button :signs, sign %>
          <label for="location_signs_<%= sign.downcase %>" class="<%= sign.downcase %>">
            <%=h description %>
          </label>
        </li>
      <% end %>
    </ul>
  </fieldset>

  <fieldset class="buttons">
    <input type="image" src="/images/save.gif" alt="Save" />
  </fieldset>
<% end %>