<table cellspacing="0">
  <thead>
    <tr>
      <th></th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Signs</th>
      <th>Reported on</th>
      <th colspan="2"></th>
    </tr>
  </thead>
<% @locations.each do |location| %>
  <tbody>
    <tr>
      <td><%= link_to image_tag("http://labs.google.com/ridefinder/images/mm_20_#{location.signs.downcase}.png", :alt => location.signs), location %></td>
      <td><%= link_to h(location.street), location, :class => 'show' %></td>
      <td><%= link_to h(location.city), location, :class => 'show' %></td>
      <td><%= link_to h(location.state), location, :class => 'show' %></td>
      <td><%= link_to h(location.zip), location, :class => 'show' %></td>
      <td><%= link_to h(location.signs), location, :class => 'show' %></td>
      <td><%= link_to h(location.created_at.strftime('%d %B')), location, :class => 'show' %></td>
      <td><%= link_to 'Edit', edit_location_path(location) %></td>
      <td>
        <%- if location.deleted? -%>
          <%= link_to 'Restore', location, :class => 'restore' %>
        <%- else -%>
          <%= link_to 'Remove', location, :class => 'destroy' %>
        <%- end -%>
      </td>
    </tr>
  </tbody>
<% end %>
</table>