<%- content_for :head do -%>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%=h GOOGLE_MAPS_API_KEY %>" type="text/javascript"></script>
  <%= javascript_include_tag formatted_locations_path(:json, :callback => 'mapLocations') %>
<%- end -%>

<p>What can mapping Obama &amp; McCain yard signs tell us about our neighborhoods and political climate?  We don't know either, so we're trying to find out. Join the fun by <%= link_to 'reporting a sign', '#new_location' %>.</p>

<ul id="counts">
  <%- Location.sign_counts.each do |count| -%>
    <li class="<%=h count.signs.downcase %>"><%=h pluralize count.count, "#{count.signs} Sign" %></li>
  <%- end -%>
</ul>

<div id="map"></div>

<%= render :partial => 'form' %>

<table>
  <tr>
    <th></th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Signs</th>
    <th>Reported on</th>
    <th colspan="3"></th>
  </tr>

<% for location in @locations %>
  <tr>
    <td><%= image_tag "http://labs.google.com/ridefinder/images/mm_20_#{location.signs.downcase}.png", :alt => location.signs %></td>
    <td><%=h location.street %></td>
    <td><%=h location.city %></td>
    <td><%=h location.state %></td>
    <td><%=h location.zip %></td>
    <td><%=h location.signs %></td>
    <td><%=h location.created_at.strftime('%d %B') %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Remove', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a location', '#new_location' %>
