<div id="page">
  <h2>Removed Signs</h2>

  <p>Signs get removed because they were duplicates, inaccurate, or for malicious reasons. Here they are, and they can be restored quite easily.</p>

  <%= link_to 'Back to Map', root_path %> | <%= link_to 'View changes', audits_path %>

  <%= render :partial => 'table' %>

  <p><%= link_to 'Back to Map', root_path %> | <%= link_to 'View changes', audits_path %></p>
</div>