<p>
  <b>Street:</b>
  <%=h @location.street %>
</p>

<p>
  <b>City:</b>
  <%=h @location.city %>
</p>

<p>
  <b>State:</b>
  <%=h @location.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @location.zip %>
</p>

<p>
  <b>Signs:</b>
  <%=h @location.signs %>
</p>

<%- if @location.geocode -%>
  <p>
    <b>Latitude:</b> <%=h @location.geocode.latitude %><br>
    <b>Longitude:</b> <%=h @location.geocode.longitude %>
  </p>
<%- end -%>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back to Map', locations_path %>
<%= link_to 'Add Another', new_location_path %>
