<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YardVote.com</title>
    <%= stylesheet_link_tag 'main', :cache => true %>
    <%= auto_discovery_link_tag :atom, formatted_locations_path(:atom), :title => "Atom Feed" %>
    <meta name="authenticity-token" id="authenticity-token" content="<%=h form_authenticity_token %>" />
  </head>
  <body>
    <div id="main">
      <div id="header">
        <h1><%= link_to 'YardVote.com', root_url, :rel => 'bookmark home' %></h1>
        <ul id="counts">
          <%- Location.sign_counts.each do |count| -%>
            <li class="<%=h count.signs.downcase %>"><%=h pluralize count.count, "#{count.signs} Yards" %></li>
          <%- end -%>
          <li class="city"><%= h(pluralize Location.city_count, 'City') %></li>
          <li class="state"><%= h(pluralize Location.state_count, 'State') %></li>
          <li class="about"><a href="#about" id="about-yardvote">About YardVote</a></li>
        </ul>
      </div>
      <div id="content">
        <%- if flash[:notice] -%>
          <p id="notice"><%= flash[:notice] %></p>
        <%- end -%>

        <%= yield  %>
      </div>
      <div id="footer">
        <%= yield :footer %>
      </div>
    </div>
    <div id="about" style="display: none;">
      <p>What can mapping yard signs tell us about our neighborhoods and political climate? We don't know either, so we're trying to find out.</p>
      
      <p>We started in Holland, <abbr title="Michigan">MI</abbr> but want reports from everywhere. Join the fun by <%= link_to 'reporting a sign', '#new_location' %>.</p>
      
      <%= render :partial => 'locations/whats_new' %>
    </div>
    
    <% if RAILS_ENV == 'production' %>
      <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/prototype/1.6/prototype.js' %>
    	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.1/scriptaculous.js" %>
    <% else %>
      <%= javascript_include_tag 'prototype', 'effects', 'controls' %>
    <% end %>
    <%= javascript_include_tag 'http://collectiveidea.com/javascripts/ideabar.js' %>
    <%= yield(:foot) -%>
    <%= javascript_include_tag 'lowpro', 'application', 'iso8601', 'strftime', 'Clusterer2', 'map', 'fancyzoom', :cache => true %>
    
    
    <script type="text/javascript">
      if (Prototype.Browser.IE) {
      	Event.observe(window, 'load', function() {
          new FancyZoom('about-yardvote');
        });
      } else {
      	Event.observe(window, 'dom:loaded', function() {
          new FancyZoom('about-yardvote');
        });
      }
      
    </script>
  </body>
</html>
