<!DOCTYPE html>
<html>
  <head>
    <title>YardVote.com</title>
    <%= stylesheet_link_tag 'collectiveidea', 'main', :cache => true %>
    <%= auto_discovery_link_tag :atom, formatted_locations_path(:atom), :title => "Atom Feed" %>
    <meta name="authenticity-token" id="authenticity-token" content="<%=h form_authenticity_token %>" />
  </head>
  <body>
    <div id="collectiveidea">
      <a href="http://collectiveidea.com"><img src="/images/header_logo.gif" alt="Collective Idea" class="logo" width="17" height="22" /></a>
      <ul class="links">
        <li><a href="http://daniel.collectiveidea.com/blog" title="Daniel Morrison">Daniel</a></li>
        <li><a href="http://opensoul.org" title="Brandon Keepers">Brandon</a></li>
        <li><a href="http://ryckbost.com/" title="Brian Ryckbost">Brian</a></li>
        <li><a href="http://microrevie.ws/" title="Microrevie.ws">Microrevie.ws</a></li>
        <li><a href="http://sessions.collectiveidea.com/" title="Sessions by Collective Idea">Sessions by Collective Idea</a></li>
        <li class="name"><a href="http://collectiveidea.com" title="Collective Idea"><img src="/images/header_collectiveidea.gif" alt="Collective Idea" width="123" height="21" /></a></li>
      </ul>
    </div>
    <div id="main">
      <div id="header">
        <h1><%= link_to 'YardVote', root_url, :rel => 'bookmark home' %></a></h1>
        <ul id="nav">
          <li><a href="http://twitter.com/danielmorrison/statuses/928612487" title="The tweet that started it all">The Idea</a></li>
          <li><a href="http://github.com/collectiveidea/yardvote.com/" title="Source code on Github">The Code</a></li>
          <li><a href="http://getsatisfaction.com/collectiveidea/products/collectiveidea_political_signs" title="Help and Feature Requests at Get Satisfaction">Help</a></li>
        </ul>
      </div>
      <div id="content">
        <%- if flash[:notice] -%>
          <p id="notice"><%= flash[:notice] %></p>
        <%- end -%>

        <%= yield  %>
      </div>
    </div>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/prototype/1.6/prototype.js' %>
    <%= javascript_include_tag 'lowpro', 'application', 'map', :cache => true %>
    <%= yield(:foot) -%>
  </body>
</html>
